.table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.container {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.current-gif-container {
  height: 500px;
}

.current-gif {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
